{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!doctype html>
<html>
<head>
<title>Formulário Post</title>
</head>
    <body>
        <div class="container ">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <center>
                    <p>bdpratico\home\templates\envia_serv.html</p>
                    <div style="text-align: center;">
                        <img src="{% static 'dados_pacientes.png' %}" class="img-fluid" alt="Teste" width="10%">
                    </div>
                    <br>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <br>
                            <div class="row" style="line-height: 1;">
                                <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <label for="nome">Nome</label>
                                    <input type="text" name="nome" id="nome" placehold="Digite o nome">
                                </div>
                                </div>
                                <br>
                                <div class="row" style="line-height: 1;">
                                <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <label for="email">E-mail</label>
                                    <input type="text" name="email" id="email" placehold="Digite o eMail da pessoa">
                                </div>
                                </div>
                                <br>
                                <div class="row" style="line-height: 1;">
                                <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <label for="celular">Celular</label>
                                    <input type="text" name="celular" id="celular" placehold="Digite o celular da pessoa">
                                </div>
                                </div>      
                                <br>
                                <div class="row" style="line-height: 1;">
                                <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <label for="funcao">Função</label>
                                    <input type="text" name="funcao" id="funcao" placehold="Digite a função da pessoa">
                                    </div>
                                    </div>
                                    <br>
                                    <div class="row" style="line-height: 1;">
                                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                    <div class="col-md-8 col-sm-12 col-xs-14">
                                    <label for="nascimento">Nascimento</label>
                                    <input type="date" name="nascimento" id="nascimento">
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-14"><br><br>
                                    <label for="ativo">Ativo</label>
                                    <input type="checkbox" name="ativo" id="ativo">
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-14"><br><br>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-14cl"><br>
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </center>
            </div>
        </div>
    </body>
</html>