{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pacientes</title>

    </head>
    <body>
        &emsp; <a href="http://127.0.0.1:8000/home/">Início</a>
    
        <div class="container mt-5">
            <div style="text-align: center;">
                <img src="{% static 'dados_pacientes.png' %}" class="img-fluid" alt="Teste" width="10%">
            </div>
            <h1 class="text-center">Lista dos Pacientes</h1>
            <p class="text-center">Relação dos contatos dos pacientes da U.B.S</p>
            
            <!-- Exibindo os dados em uma tabela com efeito zebra -->
            <table class="table table-striped  table-houver">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Função</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Nascimento</th>
                        <th scope="col">Ativo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for regs in pessoas %}
                        <tr>
                            <td>{{ regs.nome }}</td>
                            <td>{{ regs.funcao }}</td>
                            <td>{{ regs.email }}</td>
                            <td>{{ regs.celular }}</td>
                            <td>{{ regs.nascimento}}</td>
                            <td>{{ regs.ativo}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body> 
</html>
