{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8" />
<title>Arquivo de I.A. importado</title>
</head>
<body>
    </th><h1>&nbsp;Arquivo Importado!</h1>
    <pre><h5>&nbsp; Este é o arquivo que foi importado com sucesso!</h5></pre>
    <div class="container">
        <div class="row" style="line-height: 1;">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-striped table-hover">
        <th>Grupo</th>
        <th>Idade</th>
        <th>Sexo</th>
        <th>Tabagismo</th>
        <th>Consumo de Álcool</th>
        <th>Infecção por HPV</th>
        <th>Exposição Solar</th>
        <th>Dieta Inadequada</th>
        <th>Higiene Oral Inadequada</th>
        <th>Uso de Prótese Inadequada</th>
        <th>Grau de Risco</th>
        {% for regs in DatasetCancerBucal %}
            <tr>
                <td>{{ regs.grupo }}</td>
                <td>{{ regs.idade}}</td>
                <td>{{ regs.sexo }}</td>
                <td>{{ regs.tabagismo }}</td>
                <td>{{ regs.consumo_alcool}}</td>
                <td>{{ regs.infeccao_hpv }}</td>
                <td>{{ regs.exposicao_solar }}</td>
                <td>{{ regs.dieta_inadequada }}</td>
                <td>{{ regs.higiene_bucal_inadequada }}</td>
                <td>{{ regs.uso_protese_inadequada}}</td>
                <td>{{ regs.grau_risco}}</td>
            </tr>
            {% endfor %}
            </table>
        </div>
        </div>
    </div>
</body>
</html>
        

